/* Cuenta-Iniciada */

.cuenta_container {
  width: 100vw;
  height: 100vh;
  display: block;
  background: linear-gradient(180deg, #58b96d 0%, #3a8f4d 100%);
}
.box-tittle {
  flex-direction: row;
  align-items: central;
  padding: 5px 25px;
  position: block;
  width: 280px;
  height: 55px;
  margin-left: 20px;
  margin-top: 250px;
  background: #d5d765;
  border-radius: 50px;
}
.restaurant-tittle {
  /* PIZZA GOOOL */
  font-family: "Poppins", sans-serif;
  width: 202px;
  height: 45px;
  font-weight: 800;
  font-size: 30px;
  color: #116930;
  margin-top: -45px;
  margin-left: 60px;
  line-height: 45px;
  order: 1;
  flex-grow: 0;
}

.Share-snap {
  width: 280px;
  height: 82px;
  margin-top: 25px;
  margin-left: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.share-snap2 {
  width: 150px;
  height: 200px;
  margin-top: 210px;
  margin-left: 110px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  text-align: center;
  color: #000000;
}

img {
  height: 43px;
  width: 34px;
  left: 25px;
  top: 11px;
  border-radius: 0px;
}
.icon_arrow {
  margin: 0px 0px 0px 250px;
}
.icon-link {
  margin: 0px 0px 0px 250px;
}
